<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <div class="container">
        <h2>Welcome, <%= user %>!</h2>
        <!-- <a href="/">Change Name</a> -->
        <h3>Upload an Image or Video</h3>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <select name="folder">
                <option value="A">2024-25</option>
            </select>
            <button type="submit">Upload</button>
        </form>

        <h3>Photos are here</h3>
        <ul>
            <div class="folder-list">
                <a href="/uploads/A" class="folder-card">Memories Pic</a>
            </div>
        </ul>
        <br>
    </div>
</body>
</html>
