
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enter Name</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <span class="doodle doodle-1">🎨</span>

        <h1>Welcome to the Digital Gallery</h1> <br>
        <hr>
        <h4>“Yaadon Ka Album – A Collection of Priceless Moments”</h4>
        <hr> <br>
        <h3>Exclusively for Batch 2024-25</h3>
        <h3>Class of 12th B Grade</h3>
        <h3>Upload All Your Cherished Memories</h3> <br> <hr> <br>
        <form action="/get-name" method="POST">
            <input type="text" name="username" placeholder="Enter your name" required>
            <button type="submit">Let's Goooo</button>
        </form>
        <span class="doodle doodle-2">✨</span>
    </div>
</body>
</html>

